html, body {
	margin: 0;
	background-color: #f0f8ff;
	font-family: "Ubuntu", "Arial",  sans-serif;
}

header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
	background-color: #004080;
	color: white;
	border: 2px solid #004080;
}

#content {
	margin-top: 0.7em;
}

#instruction {
	margin: 1% 6% 1% 6%;
	padding: 0.7em 3.2em;
	border: 1px solid #d1d1e0;
	border-radius: 0.7em;
	background-color: #d1d1e0;
}

#instruction p{
	margin-bottom: 2%;
}

#instruction h2{
	text-align: center;
}

#present{
	padding-bottom: 15px;
	text-align: center;
}

#present button{
	font-family: "Ubuntu", "Arial",  sans-serif;
	font-size: 16px;
	border-radius: 20px;
	color: white;
	padding: 15px 32px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 90.5%;
	margin: 0.5% 5%;
}

#start{
	background-color: #008CBA;
	border: 1px solid #008CBA;
}

#start:hover{
	background-color: white;
	border-color: #008CBA;
	color: black;
}

#final{
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
}

#final:hover{
	background-color: white;
	border-color: #4CAF50;
	color: black;
}

header, #instruction, #present{
	z-index: 30;
}

#block{
	position: fixed;
	width:100%;
	z-index: 20;
	background-color: #f0f8ff;
	bottom: 8.5em;
	height: 10em;
}

#subtitle{
	z-index:10;
	bottom:1em;
	margin: 1% 6%;
	padding: 0.2em 0.2em;
	border: 2px black solid;
	border-radius: 3px;
	background-color: black;
	color: white;
	width: 80%;
	position: fixed;
}

#settings{
	border-top: 2px grey solid;
}

#line{
	font-size: 2em;
}

