#subtitle{
	border: 2px grey solid;
	background-color: black;
	color: white;
	text-align: centre;
	width:60%;
	position: fixed;
}

#subtitle button{

}

body{
	font-family: "Ubuntu", "Arial",  sans-serif;
}