#subtitle{
	border: 2px grey solid;
	background-color: black;
	color: white;
	text-align: centre;
	width:80%;
	position: fixed;
}

#settings{
	border-bottom: 2px grey solid;
}

#line{
	font-size: 2em;
}

body{
	font-family: "Ubuntu", "Arial",  sans-serif;
}